<input name="recipient_id" type="hidden" value={{seller_id}}>
<input name="advert_id" type="hidden" value={{id}}>
<div class='form-group'>
  <input name="content" class='form-control' type="text" value="{{content}}" placeholder="Message seller">
</div>
<button type="submit" class="btn btn-primary">Send</button>