<div class='container'>
  <div class='row d-flex justify-content-center'>
    <form action='/ads/search'>
      <input name='term' type='text' placeholder="Looking for..">
      <span><button type='submit'>Search</button></span>
    </form>
  </div>
</div>